@using AbleSuccess.Commissions.WebUi.Models;
@model CommissionRateViewModel

@{
    ViewBag.Header = "Commission Rate";
}

@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/css")

<div class="col-xs-12 menu-header">
    @ViewBag.Header
</div>

<div class="container">
    <div class="col-md-offset-2 col-md-8 well">
        <table class="col-sm-12">
            <tr>
                <td class="col-sm-4 text-center">
                    <h3>&nbsp;</h3>
                </td>
                <td class="col-sm-3 text-center">
                    @Html.DropDownList("SearchYear", new SelectList(@Model.LookupCommissionRateYear, "Key", "Value"), new { @class = "form-control" })
                </td>
                <td class="col-sm-4 text-center">
                </td>
                <td class="col-sm-1 text-center">
                    &nbsp;
                </td>
            </tr>
            </table>
        <div id="CommissionRateDetail" class="container bootstrap snippet">
            @*@Html.Partial("RateDetail")*@
        </div>
    </div>
</div>
